iframe { border: none; }

figure {
  display: inline-block;
}

$color1: #0c093c;
$color2: #df42d1;
$color3: #eea5f6;
$color4: #fad6d6;
$color5: #fff;

$navcolor: $color1;
$brandcolor: $color5;
$navlinkcolor: $color5;

figure {
  margin: 0 0 1rem;
}

a, a:hover {
  color: $color1;
}

figure figcaption {
  font-size: 90%;
  font-weight: 700;
}

nav.navbar {
  background-color: $navcolor;
  height: 3.5em;
  padding: 0;
  min-height: auto;
  font-family: 'Hammersmith One', sans-serif;

  a.brand {
    width: 150px;

    color: $brandcolor;

    height: auto;
    
    line-height: .5rem;
    font-size: 2em;

    margin-bottom: -0.4em;

    :hover {
      opacity: 60%;
    }
  }

  ul {
    margin-bottom: -1.4em;
  }

  .nav > li > a {
    padding-bottom: 0;
    padding-top: 0;
  }

  .nav ul li:hover {
    background-color: $navcolor;
  }

  a:hover, .nav li > a:hover {
    background-color: $navcolor;
    opacity: 60%;
    text-decoration: none;
  }

  .nav {

    > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: $navlinkcolor;
      text-decoration: underline;
    }

    > li > a {
      color: $navlinkcolor;
    }

    > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      // color: #000;
      text-decoration: underline;
    }
  }
}

.content-column {
  &.white-background {
  box-shadow: 0 5px 5px 0 #ccc;
  }

  &.white-background p, &.white-background li {
    color: #fff;

    font-size: 21px;
    line-height: 33px;
  }

  figure figcaption {
    margin: 5px auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .68);
  }

  blockquote p {
    font-style: italic;
  }
}

.footer {
  text-align: center;

  p.social a {
    border: 0;
  }
}

body .modal {
  max-width: inherit;
  overflow: visible;

  img {
    width: auto;
    max-width: 100%;
  }
}


iframe {
  padding-bottom: 24px;
}

.card {
  // border: ;

  border-radius: 0;

  overflow: hidden;
  
  img {
    // Medium devices (tablets, 768px and up)
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 768px) { 
      height: 277px;
    }
    background-color: #f4f4f4;
  }

  p:last-child {
    margin-bottom: 0;
  }
}