iframe { border: none; }

figure {
  display: inline-block;
}

figure {
  margin: 0 0 1rem;
}

figure figcaption {
  font-size: 90%;
  font-weight: 700;
}

nav.navbar {
  box-shadow: 0 0 5px #ccc;

  .navbar-brand {
    color: #000;
    width: 150px;

    height: auto;
    padding: 0;
    margin-left: 0;
    line-height: 80px;
    font-size: 32px;
  }
  .navbar-brand:hover {
    color: #000;
    opacity: 60%;
  }

  .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    text-decoration: underline;
  }

  .navbar-nav > li > a {
    color: #000;
  }

  .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    text-decoration: underline;
  }

  ul.right {
    margin: 0;
  }
}

// @media (min-width: 768px) {
//   .navbar-nav {
//     float: right;
//   }
// }

// .navbar .navbar-header {
//   float: left;
//   margin: 0;
// }

// .navbar-nav {
//   float: right;
//   line-height: 80px;
//   margin: 0;
// }

// .navbar-nav > li  {
//   @media (min-width: 768px) {
//     float: left;
//   }
// }

// .navbar-nav > li > a 
// {
//   line-height: 80px;
//   padding: 0 15px;
//   position: relative;
//   bottom: -5px;
// }

.box-masonry .desktop  {
  display: none;
}
.box-masonry .mobile {
  display: block;
}

@media (min-width: 768px) {
  .box-masonry .desktop  {
    display: block;
  }
  .box-masonry .mobile {
    display: none;
  }
}

.content-column {
  &.white-background {
  box-shadow: 0 5px 5px 0 #ccc;
  }

  &.white-background p, &.white-background li {
    color: #000;

    font-size: 21px;
    line-height: 33px;
  }

  figure figcaption {
    margin: 5px auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .68);
  }

  blockquote p {
    font-style: italic;
  }
}

.footer {
  text-align: center;

  p.social a {
    border: 0;
  }
}

body .modal {
  max-width: inherit;
  overflow: visible;

  img {
    width: auto;
    max-width: 100%;
  }
}


iframe {
  padding-bottom: 24px;
}

.card {
  border: none;

  overflow: hidden;
  
  img {
    // Medium devices (tablets, 768px and up)
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 768px) { 
      height: 277px;
    }
    background-color: #f4f4f4;
  }

  p:last-child {
    margin-bottom: 0;
  }
}