<div class='grid'>
    {{ with .Site.GetPage "section" "portfolio" }}
    {{ $.Scratch.Set "counter" 0}}
    {{ $lastPage := add (len .Pages) -2 }}
    {{ range sort .Pages "Params.weight" "asc" }}
        {{ if not .Params.hideFromHomePage }}
            {{ $counter := $.Scratch.Get "counter" }}
            {{ $positionInRow := mod $counter 3 }}
            {{ if eq $positionInRow 0 }}
              <div class="card-deck mt-1 mt-md-4">
            {{ end }}
            <div class="card mb-1">
                {{ if isset .Params "linkdirectlytoblog" }}
                  {{ .Scratch.Set "link" .Params.linkdirectlytoblog }}
                {{ else }}
                  {{ .Scratch.Set "link" .Permalink }}
                {{ end }}
                {{ $link := .Scratch.Get "link" }}
                  {{ if and (isset .Params "image") .Params.image }}
                    {{ if eq .Params.showonlyimage true }}
                      <a href="{{ $link }}" title="">
                    {{ else }}
                      <a href="{{ $link }}" title="">
                    {{ end }}
                      <img src="{{ .Params.image }}" data-animated="{{ .Params.animatedImage }}" alt="" class="img-responsive lazy-load card-img-top">
                    </a>
                  {{ end }}
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{ $link }}">{{ .Title }}</a></h5>
                    {{ .Summary }}
                  </div>
            </div>
            {{ if eq $counter $lastPage }}
                <div class="card-body">
                </div>
            {{ else if eq $positionInRow 2 }}
              </div>
            {{ end }}
            {{ $.Scratch.Add "counter" 1 }}
        {{ end }}
    {{ end }}
    {{/*  {{ if gt $positionInRow 0 }}
       </div>
    {{ end }}  */}}
  </div>
  {{ end }}
</div>