{{ $jquery := resources.Get "js/vendor/jquery.min.js" }}
{{ $modal := resources.Get "js/vendor/jquery.modal.js" }}
{{ $lightbox := resources.Get "js/vendor/ekko-lightbox.js" }}
{{ $imagesloaded := resources.Get "js/vendor/imagesloaded.pkgd.min.js" }}
{{ $front := resources.Get "js/vendor/front.js" }}

{{ $vendor_non_minified := slice $modal | resources.Concat "js/vendor_non_minified.js" }}
{{ $vendor_non_minified_minified := $vendor_non_minified | minify }}

{{ $vendor := slice $jquery $vendor_non_minified_minified | resources.Concat "js/vendor.js" }}

{{ $custom := resources.Get "js/index.js" | minify }}

{{ $js := slice $vendor $custom | resources.Concat "js/bundle.js" }}

{{ $minifiedjs := $js | fingerprint }}

<script src="{{ $minifiedjs.Permalink }}"></script>