.navbar {
  background-color: black;
}

.navbar .navbar-brand {
  max-width: 40px;
  white-space: normal;
  line-height: 1.2rem;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: #A1A1A1;
}
