{{ $original := .Page.Resources.GetMatch (printf "%s*" (.Get "src")) }}

{{ if $original }}
  {{ $image := $original.Resize "700x Lanczos q100" }}

  <figure>
    <a href='{{ $original.RelPermalink }}' data-modal>
      <img src="{{ $image.RelPermalink }}" style="width:100%"/>
    </a>
    {{ if .Get "caption" }}
      <figcaption>
        {{.Get "caption"}}
        {{ if .Get "captionLink" }}
        <a href='{{ .Get "captionLink" }}'>{{ .Get "captionLinkText" }}</a>
        {{ end }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
